* {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f3f3f3;
}
nav > img {
  margin-left: 30px;
  mix-blend-mode: multiply;
  width: 60px;
  height: 60px;
}
.name {
  margin-left: 160px;
}
.links > a {
  margin-right: 30px;
  padding-right: 20px;
  text-decoration: none;
}

#footer {
  margin-top: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 20px 60px 20px 60px;
}

#footer > div {
  width: 300px;
}
#footer > div > ul > li {
  list-style-type: none;
}

#footer_aside_2 > ul > li{
    padding-bottom: 13px;
}
.footer_article {
  display: flex;
}
.footer_article > li {
  list-style-type: none;
}
.footer_article > img {
    mix-blend-mode: multiply;
  width: 30px;
  padding-right: 10px;
  height: 32px;
}

.footer_2{
    border-top: 1px solid black;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    background-color: #f3f3f3;
    text-align: center;
}